<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>


	
	
	



<div>
	<center> 
	<a href="https://www.facebook.com/esicongo" target="_blank">
	<img src="./logo_ESI.jpg" height="210" width="1202" align="center"></a>
	</center> 
	<h2><strong>Introduction</strong></h2>
	<p style="font-size:22px">Le présent protocole décrit d’une manière globale la réalisation des enquêtes sur la vente de la viande de brousse sur les marchés, les restaurants et les hôtels des territoires enquêtés par ESI Congo. De manière particulière, ce protocole décrit :</p>
	<ul>
	<li><p style="font-size:22px">Les principes directeurs qui guident le processus des enquêtes ;</p></li>
	<li><p style="font-size:22px">Le rôle et les devoirs de l’enquêteur ;</p></li>
	<li><p style="font-size:22px">La conduite et le reporting des observations ;</p></li>
	</ul>
	<p style="font-size:22px">Les dispositions du présent protocole s’appliquent à toutes les enquêtes quelque soit le lieu d’investigation.</p>
	<h2><strong><span>Compréhension des concepts utilisés</span></strong></h2>
	<h4><strong>Viande de brousse :</strong></h4><p style="font-size:22px"> Viande d’espèces animales issues de la faune sauvage, chassée ou tuée dans leur milieu sauvage à des fins de consommation.</p>
	<h4><strong>Enquête :</strong></h4> <p style="font-size:22px">une tournée ou une visite des lieux répertoriés et/ou identifiés de vente de viande de brousse (marchés, hôtels, restaurants, etc.) pour y observer la réalité afférente, collecter et rapporter sur une fiche d’enquête les informations pertinentes liée à la présence de la viande de brousse selon les critères de recherche bien définis.</p>
	<h4><strong>Observation :</strong></h4><p style="font-size:22px"> la présence constatée de la viande de chasse sur les lieux d’investigation selon les espèces mises en évidence.</p>
	<p style="font-size:22px"><h2><strong>Principes directeurs</strong></h2></p>
	<ul>
	<li><p style="font-size:22px"><h4><strong>But</strong></h4></p></li>
	</ul>
	<p style="font-size:22px">Les enquêtes réalisées sont un exercice d’observation sur les lieux d’investigation et de recueil d’informations auprès des acteurs impliqués dans la filière de vente de viande de brousse (chasse, transport et vente) visant à cerner, quantifier et déterminer la nature de la viande de brousse vendue sous forme fraîche, boucanée ou séchée. Et ces données sont reportées dans la base de données, dédiée à cet effet. Elles sont, par la suite, valorisées à des fins de protection et de conservation de la faune sauvage suivant les objectifs bien définis par ESI CONGO.</p>
	<ul>
	<li><p style="font-size:22px"><h4><strong>Confidentialité</strong></h4></p></li>
	</ul>
	<p style="font-size:22px">Toutes les enquêtes réalisées pour le compte de l’association sont strictement confidentielles. Les informations concernant une enquête ne doivent pas être divulguées par l’enquêteur, à l’exception des personnes qui ont un besoin légitime de les connaitre après autorisation du Directeur d’ESI Congo.</p>
	<p style="font-size:22px">L’enquêteur doit prendre les mesures nécessaires pour protéger les informations recueillies auprès des personnes interrogées en vue de garantir la confiance et la protection des sources d’informations.</p>
	<ul>
	<li><p style="font-size:22px"><h4><strong>Véracité</strong></h4></p></li>
	</ul>
	<p style="font-size:22px">La fonction première de l’enquêteur est d’observer rigoureusement la réalité qui se présente, de collecter scientifiquement les informations recherchées, et de reporter ce qui est pertinent pour renforcer les connaissances et l’intégrité du processus.</p>
	<ul>
	<li><p style="font-size:22px"><h4><strong>Courtoisie</strong></h4></p></li>
	</ul>
	<p style="font-size:22px">L’enquêteur se doit d’être poli et courtois envers les personnes auprès de qui il va chercher l’information (chasseurs, vendeurs et trafiquants) afin d’instaurer une relation de confiance et garantir une collaboration pérenne.</p>
	<p style="font-size:22px"><h2><strong>Le rôle et les devoirs de l’enquêteur</strong></h2></p>
	<p style="font-size:22px">Le rôle de l’enquêteur est de collecter les informations pertinentes sur la vente de la viande de brousse et les reporter sur la fiche d’enquête.</p>
	<p style="font-size:22px"><h2><strong><span>Ses devoirs</span></strong></h2></p>
	<h3><strong>Etre sérieux :</strong></h3><p style="font-size:22px"> L’enquêteur ne doit pas avoir des litiges avec ses sources d’informations. Il doit éviter de parler des aspects du projet qu’il ne maîtrise pas et surtout pour lesquels il n’est pas mandaté par l’association ESI Congo. <em>C’est à l’enquêteur d’éviter d’engager les débats sur ce qui ne relève pas de sa mission.</em></p>
	<h3><strong>Discrétion et confidentialité:</strong></h3><p style="font-size:22px"> L’enquêteur doit être discret. Il doit garder confidentielles les informations recueillies et collectées lors des enquêtes. Par exemple, <em>ne pas dire au vendeur B que ce que vend le vendeur A sinon l’enquêteur perd la crédibilité et le projet/ESI Congo avec lui</em>. L’enquêteur doit s’assurer que le questionnaire rempli est manipulé avec le plus grand soin. L’enquêteur doit considérer les informations recueillies comme des secrets à divulguer uniquement à ESI CONGO.</p>
	<h3><strong>Ne pas parler politique :</strong></h3><p style="font-size:22px"> Il est formellement interdit de parler des sujets politiques ou les sujets de société clivant, quels qu’ils soient, même si les provocations ou les tentations viennent des personnes enquêtées. L’enquêteur est tenu de ne pas donner son point de vue politique et ne se tenir qu’à sa mission telle qu’ESI Congo l’a mandaté.</p>
	<h3><strong>Ne pas être un donneur de leçons :</strong></h3><p style="font-size:22px"> l’enquêteur doit éviter de donner des leçons auprès des personnes enquêtées, de ne pas se passer pour celui qui a plus de conscience environnementale que le vendeur ou le trafiquant. Cette attitude créée une certaine frustration auprès des personnes enquêtées et les bloquent au cours des entretiens. L’enquêteur doit être attentif à ce que dit la personne enquêtée et ne pas donner un jugement de valeur.</p>
	<h3><strong>Ne pas promettre quoi que ce soit: </strong></h3><p style="font-size:22px"> L’enquêteur ne doit pas promettre des choses ou prendre des engagements au nom de l’association ESI CONGO.</p>
	<h3><strong>La conduite et reporting des observations </strong></h3>
	<p style="font-size:22px">En règle générale, une enquête est un processus conçu pour rassembler des informations ou recueillir des faits. Les enquêtes de viande de brousse réalisées par ESI CONGO ont pour objectifs de :</p>
	<ul>
	<li><p style="font-size:22px">déterminer la typologie et identifier les espèces vendues sur les lieux de trafic de la viande de brousse (forêt, village, route, marché, restaurant, hôtel, etc.) ;</p></li>
	<li><p style="font-size:22px">connaitre les provenances de ces espèces et les zones d’approvisionnement ;</p></li>
	<li><p style="font-size:22px">connaitre les prix de vente à toutes les échelles de la filière ;</p></li>
	<li><p style="font-size:22px">déterminer les quantités et l’état de la viande des espèces vendues ;</p></li>
	</ul>
	<p style="font-size:22px"><h2><strong><span>Lieux d’enquêtes :</span></strong></h2></p>
	<ul>
	<li><p style="font-size:22px">Les marchés de la ville de Pointe-Noire : Central (1400 m<sup>2</sup>), Liberté (800 m<sup>2</sup>), Mayaka (1050 m<sup>2</sup>), Tié-tié (600 m<sup>2</sup>), Mvoumvou (400 m<sup>2</sup>), Nkouinkou (200 m<sup>2</sup>), Faubourg (200 m<sup>2</sup>)</p></li>
	<li><p style="font-size:22px">Les restaurants et les hôtels de la ville de Pointe-Noire et du département du Kouilou où peuvent se vendre et/ou se consomme la viande de brousse ;</p></li>
	<li><p style="font-size:22px">Les zones de chasse, de transport ou de trafic en milieu rural dans le département du Kouilou</p></li>
	</ul>
	<p style="font-size:22px"><strong><h2><span>Techniques d’approche des chasseurs, vendeurs et trafiquants</span></h2></strong></p>
	<ul>
	<li><p style="font-size:22px">Repérer le lieu de vente à investiguer, se présenter auprès du responsable du lieu (<em>par ex. le président du marché et le chef de rayon viande de brousse</em>) pour expliquer la démarche et l’objectif visé. Ne pas hésiter à obtenir une ligne de conduite selon les usages admis pour ne pas froisser les susceptibilités des personnes avec qui vous êtes appelé à travailler ;</p></li>
	<li><p style="font-size:22px">Une fois arrivé sur les lieux d’investigation, procéder par un tour rapide des étals visés pour observer et identifier, d’un premier coup d’œil, les espèces animales présentes ;</p></li>
	<li><p style="font-size:22px">Puis, refaire un tour plus approfondi en observant de façon détaillé les espèces présentes et en faisant l’effort de compter les spécimens observés. A ce stade, l’enquêteur n’hésite pas à s’approcher et à s’entretenir avec le vendeur pour avoir plus d’informations. Et selon le lien établi et le degré de confiance, l’enquêteur doit préciser ses questions pour affiner les informations recherchées et reporter sur sa fiche la réalité observée.</p></li>
	</ul>
	<p style="font-size:22px"><em><h2><strong><span>Points pertinents importants à observer et évaluer</span> :</strong></h2></em></p>
	<p style="font-size:22px"><em>L’heure du début et de la fin des activités, les quantités des espèces observées, le nombre des spécimens par espèce observée, le prix du spécimen entier/morceau, estimer la taille des spécimens (grand, moyen ou petit),  connaitre l’état de la viande (frais ou fumé)</em>, <em>les prix pratiqués</em>, <em>les zones d’origine de provenance, etc.</em> </p>
	<p style="font-size:22px"><em><strong><span>Attitudes nécessaires </span>:</strong></em></p>
	<p style="font-size:22px">Ne pas :</p>
	<ul>
	<li><p style="font-size:22px">manquer de discrétion devant les commerçant ;</p></li>
	<li><p style="font-size:22px">prendre des notes devant les commerçants ;</p></li>
	<li><p style="font-size:22px">filmer sans l’autorisation des commerçants ;</p></li>
	<li><p style="font-size:22px">« trop » insister sur une information lorsque l’interlocuteur ne veux pas vous est la fournir ;</p></li>
	<li><p style="font-size:22px">rester longtemps devant une table pour faire des observations afin de ne pas attirer l’attention des curieux.</p></li>
	</ul>
	<p style="font-size:22px"><h2><strong><span>Moyens utilisés</span></strong></h2></p>
	<ul>
	<li><p style="font-size:22px">Une fiche d’enquête pour le reporting définitif,</p></li>
	<li><p style="font-size:22px">Un cahier et deux stylos (bleu/rouge) qui permette de prendre notes ;</p></li>
	<li><p style="font-size:22px">Un appareil photo numérique pour prendre des images ;</p></li>
	</ul>
	<p style="font-size:22px"><h2><strong><span>Le rythme des enquêtes et périodicité</span></strong></h2></p>
	<ul>
	<li><p style="font-size:22px">Sur les 7 marchés de Pointe-Noire, les enquêtes sont réalisées selon les nécessités du projet. Toute fois, de manière générale, elles sont faites au moins 2 fois/semaine, en choisissant les jours où sont ouverts les différents marchés pour couvrir l’ensemble ;</p></li>
	<li><p style="font-size:22px">Sur les autres lieux d’investigation, les enquêtes se font selon les nécessités des projets et la commande d’ESI Congo.</p></li>
	</ul>
	<p style="font-size:22px"><span>N.B. : Il est important de veiller à ce que la période couverte par les enquêtes soit la plus représentative possible pour garantir les chances de capter l’ensemble des réalités des lieux visés.</span></p>
	<p style="font-size:22px"><h2><strong>Compréhension des critères de la base de données.</strong></h2></p>
	<table>
	<thead>
	<tr>
	<th><h3><strong>Item</strong></h3></th>
	<th><h3><strong>Champ de compréhension</strong></h3></th>
	<th><h3><strong>Points de vigilance</strong></h3></th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td style="font-size:22px"><strong>Quantité </strong></td>
	<td style="font-size:22px">Nombre de morceaux ou de parties entières de la viande</td>
	<td style="font-size:22px">Vu que la viande ne se vend par kilogramme, l’enquêteur doit reporter suivant une méthode de mesure cohérente et scientifiquement acceptable</td>
	</tr>
	<tr>
	<td style="font-size:22px"><strong>Taille entier </strong></td>
	<td style="font-size:22px">petit (bébé animal), moyen (sub-adulte), grand (adulte)</td>
	<td style="font-size:22px">appréciation visuelle la plus réaliste possible</td>
	</tr>
	<tr>
	<td style="font-size:22px"><strong>Taille part </strong></td>
	<td style="font-size:22px">petit (1/4 de kg ), moyen (1/2 kg), grand (1 kg).</td>
	<td style="font-size:22px">appréciation visuelle la plus réaliste possible</td>
	</tr>
	</tbody>
	</table>
</div>
</body></html>